lm-labs-core/src/main/resources/schemas/dir_template.xsd

<?xml version="1.0"?>

<xs:schema
    targetNamespace="http://labs.fr.corp.leroymerlin.com/schemas/labs/dir_template"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:nxs="http://labs.fr.corp.leroymerlin.com/schemas/labs/dir_template">

<!-- 
    <xs:include schemaLocation="base.xsd" />
 -->

    <xs:element name="id" type="xs:string"/>
    <xs:element name="label" type="xs:string"/>
    <xs:element name="obsolete" type="xs:integer" default="0"/>
    <xs:element name="ordering" type="xs:integer" default="10000000"/>
    <!-- references
    <xs:element name="themes" type="nxs:stringList" />
     -->

</xs:schema>


