lm-labs-core/src/main/resources/schemas/page.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://labs.fr.corp.leroymerlin.com/schemas/labs/page"
	xmlns:tns="http://labs.fr.corp.leroymerlin.com/schemas/labs/page">
	
	<xs:element name="commentable" type="xs:boolean" default="false" />
	
	<xs:element name="displayableTitle" type="xs:boolean" default="true" />
	
	<xs:element name="displayableDescription" type="xs:boolean" default="true" />
	
</xs:schema>

